body {
    background-color: #fff;
    min-height: 100vh;
    font: normal 16px sans-serif;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

a.lightbox + button {
	position	: absolute;
	top		    : 2%;
	left		: 87%;
    width		: 5%;
    padding: 2px;
    background-color: rgba(143, 1, 1, 0.25);
    color : #FFFFFF;
    border: none;
}


a.lightbox + button:hover {
    background-color: rgb(143, 1, 1);
    color : #FFFFFF;
}

.input-group {
    margin-bottom: 10px;
}


div.name-photo {
	position	: absolute;
	top		    : 91%;
	left		: 0%;
    width		: 100%;
    padding: 2px;
    background-color: inherit;
    color : rgba(0, 0, 0, 0.678);
    border: none;
}